APP_NAME=Galaxy Plex Manager
APP_ENV=production
SECRET_KEY=change-this-to-a-long-random-value
DATABASE_URL=postgresql+psycopg://galaxy:change-me@db:5432/galaxyplex
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me-now
SESSION_HTTPS_ONLY=false
TZ=America/Chicago
PLEX_IMAGE=plexinc/pms-docker:public
PLEX_UID=1000
PLEX_GID=1000
DEFAULT_NODE_NAME=Local Plex Node
DEFAULT_NODE_HOST=127.0.0.1
DEFAULT_NODE_BASE_PATH=/opt/galaxyplexmanager/data
DEFAULT_TEMPLATE_PATH=/opt/galaxyplexmanager/templates/master
DEFAULT_MEDIA_MOUNTS=[{"host":"/mnt/unionfs/Media/Movies","container":"/data/Movies","read_only":true},{"host":"/mnt/unionfs/Media/TV","container":"/data/TV Shows","read_only":true}]
DEFAULT_PORT_START=32401
DEFAULT_PORT_END=32999
